@page "/proximasactividades"
@inject IActivitiesManager ActivitiesManager

<PageTitle>Próximas actividades</PageTitle>

<div class="next-activities">
<h1>Próximas actividades</h1>

@if (_activities == null)
{
	<p><em>Cargando...</em></p>
}
else
{
	<table class="activities-table">
		<tbody>
			@foreach (var activity in _activities)
			{
				<tr>
					<td class="no-space">
						<ActivityDate Date="@activity.Date" />
					</td>
					<td class="user-select-none" style="position: relative">
						<Icons AdultsOnly="@activity.AdultsOnly" ActivityDate="@activity.Date" />
					</td>
					<td class="name-cell">
							@activity.Name 
						<HxTooltip Text="Más información" CssClass="asdf">
							<HxCollapseToggleElement Text="" CollapseTarget="@($"#description{activity.Id.ToString()}")" CssClass="more-button p-0" >
								<i class="fa-solid fa-circle-info"></i>
							</HxCollapseToggleElement>
						</HxTooltip>
						<HxCollapse Id="@($"description{activity.Id.ToString()}")" CssClass="activity-description w-50">
							<HxCard BodyCssClass="fs-5">
								<BodyTemplate>
									@activity.Description
								</BodyTemplate>
							</HxCard>
						</HxCollapse>
					</td>
					<td class="no-space" style="position: relative">
						<CapacityCounter Activity="@activity" />
					</td>
					<td class="user-select-none">
						<ActivityOptions Activity="@activity" />
					</td>
				</tr>
			}
		</tbody>
	</table>

	<Clock/>
}
</div>
@code {
	private IEnumerable<Activity> _activities = default!;

	protected override async Task OnInitializedAsync()
	{
		_activities = await ActivitiesManager.GetNextActivitiesAsync();
	}
}