@page "/proximasactividades"
@using System.Globalization
@inject IActivitiesManager ActivitiesManager

<PageTitle>Próximas actividades</PageTitle>

<div class="next-activities">
<h1>Próximas actividades</h1>

@if (_activities == null)
{
	<p><em>Cargando...</em></p>
}
else
{
	<table class="activities-table">
		<tbody>
			@foreach (var activity in _activities)
			{
				<tr>
					<td class="no-space">
						@GetTimeText(activity.Date)
					</td>
					<td>
			
							<span class="fa-layers fa-fw" hidden="@(!activity.AdultsOnly)">
								<i class="fa-solid fa-ban"></i>
								<span class="fa-layers-text fa-inverse" data-fa-transform="shrink-8 down-3" style="font-weight:900">18</span>
							</span>
						<HxTooltip Text="Solo para mayores de edad">
							<span class="badge bg-danger adults-only" hidden="@(!activity.AdultsOnly)">+18</span>
						</HxTooltip>
					</td>
					<td class="name-cell">
							@activity.Name 
						<HxTooltip Text="Más información" CssClass="asdf">
							<HxCollapseToggleButton Text="" CollapseTarget="@($"#description{activity.Id.ToString()}")" CssClass="more-button p-0" >
								<i class="fa-solid fa-circle-info"></i>
							</HxCollapseToggleButton>
						</HxTooltip>
						<HxCollapse Id="@($"description{activity.Id.ToString()}")" CssClass="activity-description w-50">
							<HxCard BodyCssClass="fs-5">
								<BodyTemplate>
									@activity.Description
								</BodyTemplate>
							</HxCard>
						</HxCollapse>
					</td>
					<td class="no-space" style="position: relative">
						<CapacityCounter Activity="@activity" />
					</td>
					<td class=" user-select-none">
						<HxDropdown>
								<HxDropdownToggleElement CssClass="hover-shadow" role="button">
									<i class="fa-solid fa-gear fa-spin-hover"></i>
							</HxDropdownToggleElement>
							<HxDropdownMenu>
								<HxDropdownItem OnClick="() => ShowModal(activity)">
									Editar actividad
								</HxDropdownItem>
								<HxDropdownItem>
									<i class="fa-solid fa-user-gear"></i>
								</HxDropdownItem>
								<HxDropdownItem>
									Borrar actividad
								</HxDropdownItem>
							</HxDropdownMenu>
						</HxDropdown>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
</div>
@code {
	[CascadingParameter] 
	public IModalService Modal { get; set; } = default!;

	private IEnumerable<Activity> _activities = default!;

	protected override async Task OnInitializedAsync()
	{
		_activities = await ActivitiesManager.GetNextActivitiesAsync();
	}

	private void ShowModal(Activity activity)
	{
		var parameters = new ModalParameters()
			.Add(nameof(EditActivity.Activity), activity);
		var options = new ModalOptions()
		{
			Position = ModalPosition.Middle
			//Class = "edit-activity-modal"
		};

		var moviesModal = Modal.Show<EditActivity>("Editar actividad", parameters, options);
	}

	private string GetTimeText(DateTime date)
	{
		var result = date.ToString("HH:mm");

		if (date.Date == DateTime.Now.Date)
			return result;

		var ci = new CultureInfo("Es-Es");
		var dayText = ci.DateTimeFormat.GetDayName(date.DayOfWeek).Substring(0, 3);
		return $"{result} ({dayText})";
	}
}