@page "/actividad"
@inject ActivitiesManager ActivitiesManager

<h3>@HeaderText</h3>

<EditForm Model="@_tempActivity" OnValidSubmit="@Upsert" class="activity-form">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="row">
		<div class="col">
			<label for="name">Nombre de la actividad</label>
			<InputText id="name" class="form-control" @bind-Value="_tempActivity.Name" />
		</div>

		<div class="col">
			<label for="game">Juego</label>
			<InputText id="game" class="form-control" @bind-Value="_tempActivity.Game" />
		</div>
	</div>

	<div class="row">
		<div class="col">
			<label for="players">Número de jugadores</label>
			<InputNumber id="players" class="form-control" @bind-Value="_tempActivity.Capacity" />
		</div>

		<div class="col">
			<label for="date">Fecha y hora</label>
			<InputDate id="date" class="form-control" @bind-Value="_tempActivity.Date" Type="InputDateType.DateTimeLocal" />
		</div>

		<div class="col">
			<label for="type">Tipo de actividad</label>
			<InputSelect id="type" class="form-control" @bind-Value="_tempActivity.Type">
				@foreach (ActivityType type in Enum.GetValues(typeof(ActivityType)))
				{
					<option value="@type">@type.GetDescription()</option>
				}
			</InputSelect>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<label for="type">Nivel</label>
			<InputSelect id="type" class="form-control" @bind-Value="_tempActivity.Level">
				@foreach (ActivityLevel level in Enum.GetValues(typeof(ActivityLevel)))
				{
					<option value="@level">@level.GetDescription()</option>
				}
			</InputSelect>
		</div>
		<HxSwitch Label="Solo para adultos" CssClass="col" @bind-Value="_tempActivity.AdultsOnly" />
		<HxSwitch Label="Permitir preinscripciones" CssClass="col" @bind-Value="_tempActivity.AllowPreinscription" />
	</div>

	<div class="form-floating mb-3">
		<InputTextArea id="description" class="form-control" placeholder="Descripción" @bind-Value="_tempActivity.Description" />
		<label for="description">Descripción de la actividad</label>
	</div>

	<button type="submit" class="btn btn-primary">Guardar</button>
</EditForm>

@code {
	[CascadingParameter] 
	BlazoredModalInstance BlazoredModal { get; set; } = default!;

	[Parameter]
	public Activity Activity { get; set; }

	private Activity _tempActivity;
	private string HeaderText => Activity?.Name ?? "Nueva actividad";

	protected override void OnInitialized()
	{
		_tempActivity = Activity.Copy();
	}

	private async Task Upsert()
	{
		await ActivitiesManager.UpsertActivityAsync(_tempActivity);

		await BlazoredModal.CloseAsync(ModalResult.Ok(_tempActivity));
	}
}
