@page "/actividad"
@inject IActivitiesManager ActivitiesManager
@using ActivitiesCounter.Utils;

<h3>@HeaderText</h3>

<EditForm Model="@Activity" OnValidSubmit="@Upsert" class="activity-form">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row">
        <div class="col">
            <label for="name">Nombre de la actividad</label>
            <InputText id="name" class="form-control" @bind-Value="Activity.Name" />
        </div>

        <div class="col">
            <label for="game">Juego</label>
            <InputText id="game" class="form-control" @bind-Value="Activity.Game" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="players">Número de jugadores</label>
            <InputNumber id="players" class="form-control" @bind-Value="Activity.Capacity" />
        </div>

        <div class="col">
            <label for="date">Fecha y hora</label>
            <InputDate id="date" class="form-control" @bind-Value="Activity.Date" Type="InputDateType.DateTimeLocal" />
        </div>

        <div class="col">
            <label for="type">Tipo de actividad</label>
            <InputSelect id="type" class="form-control" @bind-Value="Activity.Type">
                @foreach (ActivityType type in Enum.GetValues(typeof(ActivityType)))
                {
                    <option value="@type">@type.GetDescription()</option>
                }
            </InputSelect>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="type">Nivel</label>
            <InputSelect id="type" class="form-control" @bind-Value="Activity.Level">
                @foreach (ActivityLevel level in Enum.GetValues(typeof(ActivityLevel)))
                {
                    <option value="@level">@level.GetDescription()</option>
                }
            </InputSelect>
        </div>
        <HxSwitch Label="Solo para adultos" CssClass="col" @bind-Value="Activity.AdultsOnly" />
        <HxSwitch Label="Permitir preinscripciones" CssClass="col" @bind-Value="Activity.AllowPreinscription" />
    </div>

    <div class="form-floating mb-3">
        <InputTextArea id="description" class="form-control" placeholder="Descripción" @bind-Value="Activity.Description" />
        <label for="description">Descripción de la actividad</label>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</EditForm>

@code {
    [Parameter]
    public Activity Activity { get; set; } = new();

    [Parameter]
    public Action Callback { get; set; }

    private string HeaderText => Activity?.Name ?? "Nueva actividad";

    private async Task Upsert()
    {
        await ActivitiesManager.UpsertActivity(Activity);

        if(Callback != null) Callback();
    }
}
